
<div class="row marketing">
  <div id="divFiltroMain">
    <label for="selectProvincias"> Provincias: </label>
    <select name="selectProvincias" id="selectProvincias" ng-click="mainController.findMunicipios()" ng-model="mainController.provinciaSelected"
      ng-options='provincia.Nombre for provincia in mainController.provincias'>
      <option  value="">Seleccionar provincia</option>
      <!-- <option ng-repeat="provincia in mainController.provincias" value="{{provincia.IdProvincia}}">{{provincia.Nombre}}</option> -->
    </select>
    <label for="selectMunicipios"> Municipios: </label>
    <select name="selectMunicipios" id="selectMunicipios" ng-click="mainController.findOcupacionesMarker()" ng-model="mainController.municipioSelected"
      ng-options='municipio.Nombre for municipio in mainController.municipios'>
      <option  value="">Seleccionar municipio</option>
      <!-- <option ng-repeat="municipio in mainController.municipios" value="{{municipio.IdMunicipio}}">{{municipio.Nombre}}</option> -->
    </select>
  </div>
  <ui-gmap-google-map center='mainController.map.center' zoom='mainController.map.zoom'>
    <ui-gmap-marker ng-repeat="marker in mainController.markers" click="mainController.findOcupacionById(marker.id)" coords="marker.coords" idkey="marker.id" options="marker.options">
      <ui-gmap-window options="windowOptions">
                <div>{{mainController.findOcupacionMarkerById(marker.id).Descripcion}}</div>
      </ui-gmap-window>
    </ui-gmap-marker>
  </ui-gmap-google-map>
  <div ng-if="mainController.ocupacionSelected">
    <div>
        <label for="inputDescripcion">Descripcion:</label>
        <input type="text" id="inputDescripcion" class="classTextBox" ng-model="mainController.ocupacionSelected.Descripcion" value="{{mainController.ocupacionSelected.Descripcion}}"/>
        <a ng-click="mainController.updateOcupacion()">Guardar</a>
    </div>
  </div>
</div>
